@keyframes scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes spark-animate {
  from {
    fill: white;
    transform: scale(1);
  }
  to {
    fill: #FF0000;
    transform: scale(1.25);
  }
}