.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-text);
  background: var(--background-image) fixed;
}

.header {
  display: flex;
  justify-content: center;
}

.header__container {
  border: 2px solid var(--color-accent);
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  min-inline-size: var(--width-container);
  min-block-size: 364px;
  align-items: center;
  justify-content: center;
  background: white;
}

.page__header {
  font-family: var(--font-accent);
  font-size: var(--font-size-title);
  font-weight: 400;
}

.header__text {
  padding-top: 20px;
  font-family: var(--font-accent);
  font-size: var(--font-size-subtitle);
  font-weight: 400;
  text-transform: uppercase;
}

.card {
  width: var(--width-container);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 50px;
  border: 2px solid var(--color-accent);
}

.card__header {
  width: 100%;
  font-variation-settings: 'wght' var(--font-weight-header);
  padding: 5px 25px 5px 10px;
  font-family: var(--font-main);
  font-size: 18px;
}

.card__image__container {
  position: relative;
}

.filter__greyscale { filter: grayscale(50%); }
.filter__invert { filter: invert(100%); }
.filter__sepia { filter: sepia(50%); }
.filter__saturate { filter: saturate(120%); }
.filter__brightness { filter: brightness(90%); }
.filter__greyscale__blur { filter: grayscale(100%) blur(3px); }

.card__image {
  object-fit: cover;
  object-position: right;
  border-block: 2px solid var(--color-accent);
  max-inline-size: 100%;
  aspect-ratio: 1;
}

.card__image__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 0.5px white;
}

@supports (-webkit-text-stroke: 0.5px white) {
  .card__image__label {
    text-shadow: none;
    -webkit-text-stroke: 0.5px white;
  }
}

.card__text__container { margin: 25px; }
.card__text:last-child { margin-top: 27px; }
.card__text {
  width: 100%;
  font-size: 18px;
  line-height: 21px;
}

svg {
  object-fit: contain;
  fill: none;
}

.buttons {
  align-self: flex-end;
  display: flex;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  background: inherit;
  border: none;
  cursor: pointer;
  transition: border 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 6px;
}

.card__icon-button .core {
  transition: fill 0.3s linear;
  --heart-core: white;
}

.card__icon-button .main-body {
  transition: fill 0.3s linear 0.05s;
  --heart-body: white;
}

.heart { transform-origin: center; }
.like-icon { overflow: visible; }
.sparks { 
  fill: white;
  transform-origin: center;
}

.card__icon-button:hover .core,
.card__icon-button:hover .main-body {
  fill: var(--color-accent);
}

.card__icon-button:not(:hover) .core {
  transition: fill 0.3s linear 0.03s;
}
.card__icon-button:not(:hover) .main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  --heart-body: #FF0000;
  fill: var(--heart-body);
}
.card__icon-button:active .core {
  --heart-core: #FF0000;
  fill: var(--heart-core);
}

.like-icon.is-liked .main-body {
  --heart-body: #FF0000;
  fill: var(--heart-body);
}
.like-icon.is-liked .core {
  --heart-core: #FF0000;
  fill: var(--heart-core);
}
.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  --heart-contour: #FF0000;
  fill: var(--heart-contour);
}

.is-liked .heart,
.is-liked .sparks {
  animation: scale-up 0.3s ease-in 0.1s 1;
}
.is-liked .sparks {
  animation: spark-animate 0.3s ease-in 0.3s 1;
}

.like-icon:not(.is-liked) .contour {
  --heart-contour: black;
  fill: var(--heart-contour);
  transition: fill 0.1s linear;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
  outline: none;
}

.button {
  position: relative;
  display: flex;
  overflow: hidden;
  background: white;
  color: white;
  max-block-size: 38px;
  font-family: var(--font-accent);
  border: 2px solid var(--color-accent);
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.9em;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:hover { cursor: pointer; }

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-accent);
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  border: 2px solid var(--color-accent);
  min-inline-size: 130px;
  min-block-size: 36px;
}

.save__button__container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--color-accent);
  min-block-size: 55px;
  padding: 0 20px;
}

.save__button__image {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  color: white;
  transition: color 0.5s ease-in-out;
  mix-blend-mode: difference;
}

dialog::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.save-dialog[open] {
  display: grid;
  grid-template: min-content min-content / min-content 1fr;
  gap: 30px 20px;
  border: 2px solid var(--color-accent);
  padding: 30px;
  inline-size: clamp(341px, 24.514vw, 353px);
}

.dialog__image {
  grid-column: 1;
  width: 39px;
  height: 39px;
}

.dialog__text {
  display: flex;
  grid-column: 2;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.close-button {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-accent);
  background: inherit;
  padding: 11px 132px;
}

@media (width <= 375px) {
  .card { width: 100vw; }
  
  .header { justify-content: unset; }
  
  .header__container { min-block-size: 327px; }
  
  .card__image__label { right: 10px; }
  
  .card__text__container { max-inline-size: 321px; }
  
  .card__text { text-wrap: wrap; }

  .save__button {
    flex-direction: column;
    min-block-size: 84px;
    min-inline-size: 81.6%;
  }
  
  .save__button__image {
    width: 28px;
    height: 28px;
  }
  
  .save-dialog[open] {
    gap: 30px 18px;
    padding: 30px 40px;
  }

  .close-button {
    max-inline-size: clamp(68.52vw, 257px, 68.53vw);
    padding: 11px 114px;
  }
}