:root {
  --color-accent: #000000;
  --font-main: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P', fantasy;
  --font-weight-header: 700;
  --font-weight-text: 400;
  --width-container: clamp(375px, 100vw, 700px);
  --height-header: clamp(327px, 38.1vh, 50vh);
  --font-size-title: clamp(3.0625rem, 2.6966rem + 1.561vw, 4.0625rem);
  --font-size-subtitle: clamp(0.875rem, 0.6692rem + 0.878vw, 1.4375rem);
  --background-image:
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );

  --heart-contour: black;
  --heart-core: none;
  --heart-body: none;
  --heart-sparks: none;
}